{%load staticfiles %}


<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{%static '/media/homepage_pics/smalldog.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Small Sized Dogs</h2>
          <p>While many large breeds may be sweet and affectionate they can unintentionally be dangerous around small children due to the dog’s size and strength. That is why many pet owners prefer to adopt small dogs with calm, patient, non-aggressive temperaments. We’ve compiled a list of just a few of the breeds who fall into this category.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{%static '/media/homepage_pics/medium.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Medium Sized Dogs</h2>
          <p>There's nothing average about medium-sized dogs. These pups are not too big, nor too small, and include a wide variety of breeds. Dogs that fall into the medium dog breed category include the following. These cuddly breeds can range from 35 to 65 pounds. Not too large, not too small, but juuust right. ​</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{%static '/media/homepage_pics/large.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Large Sized Dogs</h2>
          <p>Some people live by the motto “bigger is better,” and it extends to their dogs too. There are many large dog breeds, each with different care and training needs. Some breeds were meant to be hunters, others guard dogs. Large dog breeds that were bred to work all day will need daily activity to work off their energy.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Here are them all. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">In this section you will find all kinds of dog cards. NO matter if they are small, medium or large here there is no difference. So go on and like the dog you find 'THE BEST'. </p>
          <p><a class="btn btn-default" href="/cards/all" role="button">View them all &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{%static '/media/homepage_pics/alldogs.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>

      


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="">Back to top</a></p>
        <p>&copy; 2015 DogBook, Inc. &middot; </p>
      </footer>
    </div>